html {
  background-color: purple;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
h1{
  color: aqua;
}
/* background-color es una propiedad no heredable */
.container{
  color: red;
  background-color: blue;
}
.container > h1{
  color: unset;
  background-color: initial;
}
a {
  color: orange;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}